* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    width: 90%;
    margin: 10px auto;
}

.header {
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 70px;
}

.filter {
    flex-basis: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(91,137,164,.25);
    margin: 10px;
    padding: 10px 0;
}

.language {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid#d2d5d6;
    border-radius: 5px;
    padding: 0;
    height: 40px;
    width: 90%;
    margin: auto;
}

.language li {
    text-align: center;
    color: #2196f3;
    border-left: 1px solid #d2d5d6;
    width: 100%;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
}

.li.active {
    color: #ffffff;
    background-color: #64b5f5;
}

.filter-transfer {
    display: flex;
    flex-direction: column;
    height: 30px;
    padding-left: 15px;
    width: 100%;
    position: relative;
}

/*.filter-transfer label:before {*/
/*    content: "";*/
/*    -webkit-appearance: none;*/
/*    background-color: transparent;*/
/*    border: 1px solid #d2d5d6;*/
/*    border-radius: 4px;*/
/*    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -15px 10px -12px rgba(0,0,0,.05);*/
/*    padding: 10px;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    margin-right: 5px;*/
/*}*/

/*.filter-transfer input {*/
/*    display: none;*/
/*}*/

/*.filter-transfer input:checked+label:after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    left: 23px;*/
/*    width: 6px;*/
/*    height: 10px;*/
/*    border: solid #0079bf;*/
/*    border-width: 0 2px 2px 0;*/
/*    -webkit-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*}*/

/*.filter-transfer input:checked+label:before {*/
/*    border: 1px solid #2196f3;*/
/*}*/

.hide {
    display: none!important;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}

.ticket {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 160px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(91,137,164,.25);
    margin: 10px;
    padding: 0 25px;
}
.buy-box, .transf-box {
    display: flex;
    justify-content: space-around;
}
.buy-box {
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid #f2f2f2;
}

.buy-box img {
    width: 100px;
}

.buy-btn {
    background-color: #ff6d00;
    box-shadow: 0 1px 1px #d64d08;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 160px;
    height: 55px;
    cursor: pointer;
    padding-top: 7px;
    margin-bottom: 20px;
}

.transf-box {
    color: #686363;
    padding-left: 10px;
    width: 100%;
    align-items: center;
}

.transf-start, .transf-end {
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
}

.time, .city {
    color: #000000;
}

.time {
    font-size: 34px;
}

.way-transf {
    margin-bottom: 35px;
}

.line {
    height: 1px;
    width: 108px;
    right: 10px;
    margin-top: 7px;
    background-color: #d2d5d6;
    position: relative;
}

.plane {
    position: absolute;
    right: -15px;
    bottom: -6px;
}

.transf-end {
    margin-left: 15px;
}
